body {
  font-family: Inter, sans-serif;
  background: #23252c;
  margin: 0;
  padding: 0;
}

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  text-align: center;
  /* padding: 2em; */
  width: 100%;
  display: flex;
  justify-content: center;
}

.App {
  width: 550px;
  height: 600px;
  background: #23252c;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.info, .about {
  background-color: #1A1B21;
  width: 57%;
}

/* INFO COMPONENT */
.avatar {
  width: 100%;
  background-color: #33a17c;
  border-radius: 10px 10px 0 0;
  padding-top: .2em;
}

.avatar img {
  width: 80%;
}

.name {
  color: #FFFFFF;
  font-size: 25px;
}

.profession {
  color: #33a17c;
  font-size: 12.8px;
}

p {
  color: #f5f5f5d3;
  font-size: 10.24px;
  font-weight: 300;
}

.info p {
  line-height: 10px;
}

.thin {
  font-weight: 300;
}

h2, h3 {
  line-height: 4px;
}

.social-buttons {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.social-buttons button {
  padding: 9px 13px 9px 13px;
  min-width: 95px;
  border-radius: 6px;
  border: none;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

.social-buttons button a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.social-buttons img {
  padding: 0;
  margin: 0;
  padding-right: 10px;
}

.linkedin {
  background: #5093E2;
}

.linkedin a {
  color: white;
}

.linkedin img {
  width: 20px;
}

.email a {
  color: #374151;
}

.email img {
  width: 15px;
}

/* ABOUT COMPONENT */
.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  padding: 3em 0 2em 0;
}

.about-me, .interests {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
}

.interests {
  margin-top: 1em;
}

.about h3 {
  line-height: 10px;
  margin: 0;
  padding: 0;
  color: white;
}

/* SOCIAL COMPONENT */
.social {
  background-color: #161619;
  width: 57%;
  padding: 1em 0;
  display: flex;
  border-radius: 0 0 10px 10px;
}

.social div {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.social a {
  color: #918E9B;
}

/* RESPONSIVENESS */
@media screen and (max-width: 600px) {
  .App {
    width: 100%;
  }

  .info, .about, .social {
    width: 90%;
  }
}

@media screen and (max-width: 200px) {
  .App {
    width: 100%;
    padding: 0;
  }

  .info, .about, .social {
    width: 100%;
  }

  .name {
    font-size: 1rem;
  }

  .profession {
    font-size: .8rem;
  }

  .social-buttons {
    flex-wrap: wrap;
    justify-content: center;
  }

  .social-buttons button {
    padding: 10px 0;
    font-size: .7rem;
    margin: 5px 0;
  }

  .social-buttons img {
    display: none;
  }

  .social div {
    width: 80%;
    font-size: .8rem;
    justify-content: space-around;
  }

  h3 {
    font-size: 1rem;
  }
}